# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS stuff
.DS_STORE

# Prevent credential leaks
rclone.conf
credentials.json
accounts/*
credentials/*
token.pickle
rclone-generated.conf
current_sa.txt
logs/*

# Virtualenv
venv/*